<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <filter>
    <filter-name>JpsFilter</filter-name>
    <filter-class>oracle.security.jps.ee.http.JpsFilter</filter-class>
    <init-param>
      <param-name>enable.anonymous</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>JpsFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>InvoiceServlet</servlet-name>
    <servlet-class>com.servlet.InvoiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitFormApproval</servlet-name>
    <servlet-class>com.servlet.ExitFormApproval</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PRRejNotifyServlet</servlet-name>
    <servlet-class>com.servlet.PRRejNotifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PRPaymentServlet</servlet-name>
    <servlet-class>com.servlet.PRPaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TraineesExitApprovalServlet</servlet-name>
    <servlet-class>com.servlet.TraineesExitApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceServlet</servlet-name>
    <url-pattern>/invoiceservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitFormApproval</servlet-name>
    <url-pattern>/exitformapproval</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PRRejNotifyServlet</servlet-name>
    <url-pattern>/prrejnotifyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PRPaymentServlet</servlet-name>
    <url-pattern>/prpaymentservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TraineesExitApprovalServlet</servlet-name>
    <url-pattern>/traineesexitapprovalservlet</url-pattern>
  </servlet-mapping>
</web-app>
